@import "../../global.scss";

.list {
  font-size: 14px;
  margin-right: 20px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    background-color: $mainColor;
    color: white;
    border-radius: 10%;
    cursor: pointer;
  }

  &:active {
    background-color: $mainColor;
    color: white;
    border-radius: 10%;
    cursor: pointer;
  }
}
